.sub-box {
    max-width: 1300px;
    width: 80%;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 30px;
}

.sub-radio-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sub-radio-item {
    width: 49%;
}

.sub-radio-group {
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
    border: 1px solid rgba(5, 5, 5, 0.2);
    border-radius: 4px;
}

.sub-radio-label {
    margin-right: 5px;
    min-width: 90px;
}

@media screen and (max-width:1260px) {
    .sub-radio-item {
        width: 100%;
    }
}

.sub-from-button {
    width: 100%;
    padding-left: 16.5%;
}
